<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- users edit start -->
        <section class="app-user-edit">
            <div class="card">
                <div class="card-body">
                    <ul ngbNav #nav="ngbNav" class="nav nav-pills">
                        <li ngbNavItem>
                            <ng-template ngbNavContent>
                                <!-- Account Tab starts -->
                                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                    <br>
                                    <!-- users edit account form start -->
                                    <form class="edit-user" [formGroup]="ReactiveUserEditDetailsForm" (ngSubmit)="ReactiveEditFormOnSubmit()">
                                        <div class="row">
                                            <!-- Username -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="UserUsername">Nombre de Usuario</label>
                                                    <input type="text" id="UserUsername" [(ngModel)]="UserEditForm.username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': ReactiveUserEditFormSubmitted && ReactiveUserEditForm.username.errors }" />
                                                    <div *ngIf="ReactiveUserEditFormSubmitted && ReactiveUserEditForm.username.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveUserEditForm.username.errors.required">Nombre de Usuario es requerido</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- UserType field -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="UserUserType">Tipo de Usuario</label>
                                                    <select id="UserUserType" formControlName="userType" [(ngModel)]="UserEditForm.userType" class="form-control" [ngClass]="{ 'is-invalid': ReactiveUserEditFormSubmitted && ReactiveUserEditForm.userType.errors }">
                                                    <option value="administrador">Administrador</option>
                                                    <option value="operador">Operador</option>
                                                    <option value="cliente">Cliente</option>
                                                    </select>
                                                    <div *ngIf="ReactiveUserEditFormSubmitted && ReactiveUserEditForm.userType.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveUserEditForm.userType.errors.required">Tipo de Usuario es requerido</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 d-flex flex-sm-row flex-column mt-2 justify-content-end">
                                                <button type="submit" (click)="saveUser(); redirectToUserList('users')" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                                              Guardar
                                              </button>
                                                <button class="btn btn-outline-secondary" (click)="redirectToUserList('users')" rippleEffect>
                                              Cancelar
                                              </button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- users edit account form ends -->
                                </div>
                                <!-- Account Tab ends -->
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
            </div>
        </section>
        <!-- users edit ends -->
    </div>
</div>