<div class="slideout-content">
    <!-- Modal to add new client starts-->
    <div class="modalsd modal-slide-in sdfade new-client-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <form class="add-new-client modal-content pt-0" [formGroup]="ReactiveClientDetailsForm" (ngSubmit)="ReactiveClientFormOnSubmit()">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleSidebar('client-sidebar')">
          ×
        </button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Cliente</h5>
                </div>
                <div class="modal-body flex-grow-1">

                    <div class="form-group">
                        <label for="ClientName">Nombre</label>
                        <input type="text" id="ClientName" [(ngModel)]="ClientForm.name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientFormSubmitted && ReactiveClientForm.name.errors }" placeholder="Jhon Doe" />
                        <div *ngIf="ReactiveClientFormSubmitted && ReactiveClientForm.name.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveClientForm.name.errors.required">Nombre requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ClientSurname">Apellido</label>
                        <input type="text" id="ClientSurname" [(ngModel)]="ClientForm.surname" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientFormSubmitted && ReactiveClientForm.surname.errors }" placeholder="Jhon Doe" />
                        <div *ngIf="ReactiveClientFormSubmitted && ReactiveClientForm.surname.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveClientForm.surname.errors.required">Apellido requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ClientDNI">DNI</label>
                        <input type="text" id="ClientDNI" [(ngModel)]="ClientForm.identificationNumber" formControlName="identificationNumber" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientFormSubmitted && ReactiveClientForm.identificationNumber.errors }" placeholder="00111000" />
                        <div *ngIf="ReactiveClientFormSubmitted && ReactiveClientForm.identificationNumber.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveClientForm.identificationNumber.errors.required">DNI requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ClientEmail">Nombre de contacto</label>
                        <input type="text" id="ClientContactName" formControlName="contactName" [(ngModel)]="ClientForm.contactName" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientFormSubmitted && ReactiveClientForm.contactName.errors }" placeholder="ejemplo@ejemplo.com"
                        />
                        <div *ngIf="ReactiveClientFormSubmitted && ReactiveClientForm.contactName.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveClientForm.contactName.errors.required">Nombre de contacto requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ClientEmail">Email</label>
                        <input type="text" id="ClientEmail" formControlName="email" [(ngModel)]="ClientForm.email" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientFormSubmitted && ReactiveClientForm.email.errors }" placeholder="ejemplo@ejemplo.com"
                        />
                        <div *ngIf="ReactiveClientFormSubmitted && ReactiveClientForm.email.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveClientForm.email.errors.required">Email requerido</div>
                            <div *ngIf="ReactiveClientForm.email.errors.email">Email tiene que ser una direccion de correo valida</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ClientPhone">Telefono</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">+54</span>
                            </div>
                            <input type="text" id="ClientPhone" formControlName="phone" [(ngModel)]="ClientForm.phone" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientFormSubmitted && ReactiveClientForm.phone.errors }" placeholder="" />

                            <div *ngIf="ReactiveClientFormSubmitted && ReactiveClientForm.phone.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveClientForm.phone.errors.required">Telefono requerido</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ClientEmail">Nombre de contacto 2</label>
                        <input type="text" id="ClientContactName2" formControlName="contactName2" [(ngModel)]="ClientForm.contactName2" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientFormSubmitted && ReactiveClientForm.contactName2.errors }" placeholder="ejemplo@ejemplo.com"
                        />
                        <div *ngIf="ReactiveClientFormSubmitted && ReactiveClientForm.contactName2.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveClientForm.contactName2.errors.required">Nombre de contacto requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ClientEmail">Email 2</label>
                        <input type="text" id="ClientEmail2" formControlName="email2" [(ngModel)]="ClientForm.email2" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientFormSubmitted && ReactiveClientForm.email2.errors }" placeholder="ejemplo@ejemplo.com"
                        />
                        <div *ngIf="ReactiveClientFormSubmitted && ReactiveClientForm.email2.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveClientForm.email2.errors.required">Email requerido</div>
                            <div *ngIf="ReactiveClientForm.email2.errors.email">Email tiene que ser una direccion de correo valida</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ClientPhone">Telefono 2</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">+54</span>
                            </div>
                            <input type="text" id="ClientPhone2" formControlName="phone2" [(ngModel)]="ClientForm.phone2" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientFormSubmitted && ReactiveClientForm.phone2.errors }" placeholder="" />
                            
                            <div *ngIf="ReactiveClientFormSubmitted && ReactiveClientForm.phone2.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveClientForm.phone2.errors.required">Telefono requerido</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ClientAddress">Dirección</label>
                        <input type="text" id="ClientAddress" formControlName="address" [(ngModel)]="ClientForm.address" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientFormSubmitted && ReactiveClientForm.address.errors }"
                        />
                        <div *ngIf="ReactiveClientFormSubmitted && ReactiveClientForm.address.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveClientForm.address.errors.required">Direccion requerida</div>
                        </div>
                    </div>

                    <!-- touchspin default -->
                    <div class="form-group">
                        <label for="ClientGuests">Cantidad de Invitados</label>
                        <br>
                        <core-touchspin id="ClientGuests" formControlName="guestsQuantity" [minValue]="1" [(ngModel)]="ClientForm.guestsQuantity" [ngClass]="{ 'is-invalid': ReactiveClientFormSubmitted && ReactiveClientForm.guestsQuantity.errors }">
                            <div *ngIf="ReactiveClientFormSubmitted && ReactiveClientForm.guestsQuantity.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveClientForm.guestsQuantity.errors.required">Seleccione al menos 1 invitado</div>
                            </div>
                        </core-touchspin>
                    </div>

                    <button type="submit" class="btn btn-primary mr-1" rippleEffect> Añadir </button>
                    <button type="reset" class="btn btn-outline-secondary" (click)="toggleSidebar('client-sidebar')" rippleEffect> Cancelar </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal to add new client Ends-->
</div>