<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- clients edit start -->
        <section class="app-client-edit">
            <div class="card">
                <div class="card-body">
                    <ul ngbNav #nav="ngbNav" class="nav nav-pills">
                        <li ngbNavItem>
                            <ng-template ngbNavContent>
                                <!-- Account Tab starts -->
                                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                    <h4>Editar cliente</h4>
                                    <br>
                                    <!-- clients edit account form start -->
                                    <form class="edit-client" [formGroup]="ReactiveClientEditDetailsForm" (ngSubmit)="ReactiveClientEditFormOnSubmit()">
                                        <div class="row">
                                            <!-- Name -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientName">Nombre</label>
                                                    <input type="text" id="ClientName" [(ngModel)]="ClientEditForm.name" formControlName="name" class="form-control" 
                                                        [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.name.errors }"/> 
                                                    <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.name.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveClientEditForm.name.errors.required">Nombre es requerido</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Surname -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientSurname">Apellido</label>
                                                    <input type="text" id="ClientSurname" [(ngModel)]="ClientEditForm.surname" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.surname.errors }" placeholder="Jhon Doe"
                                                    />
                                                    <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.surname.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveClientEditForm.surname.errors.required">Nombre y Apellido son requerido</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- identificationNumber -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientidentificationNumber">DNI</label>
                                                    <input type="text" id="ClientidentificationNumber" [(ngModel)]="ClientEditForm.identificationNumber" formControlName="identificationNumber" class="form-control" 
                                                        [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.identificationNumber.errors }"/>
                                                    <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.identificationNumber.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveClientEditForm.identificationNumber.errors.required">identificationNumber es requerido</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Contact Name -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientContactName">Nombre de contacto</label>
                                                    <input type="text" id="ClientContactName" formControlName="contactName" [(ngModel)]="ClientEditForm.contactName" class="form-control" 
                                                        [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.contactName.errors }"/>
                                                    <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.contactName.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveClientEditForm.contactName.errors.required">Nombre de contacto requerido</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Email -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientEmail">Email</label>
                                                    <input type="text" id="ClientEmail" formControlName="email" [(ngModel)]="ClientEditForm.email" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.email.errors }" placeholder="ejemplo@ejemplo.com"
                                                    />
                                                    <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.email.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveClientEditForm.email.errors.required">Email es requerido</div>
                                                        <div *ngIf="ReactiveClientEditForm.email.errors.email">Email tiene que ser una direccion de correo valida</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Telephone -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientPhone">Telefono</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">+54</span>
                                                        </div>
                                                        <input type="text" id="ClientPhone" formControlName="phone" [(ngModel)]="ClientEditForm.phone" class="form-control" 
                                                            [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.phone.errors }"/>
                                                                <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.phone.errors" class="invalid-feedback">
                                                            <div *ngIf="ReactiveClientEditForm.phone.errors.required">Telefono requerido</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Contact Name 2 -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientContactName2">Nombre de contacto 2</label>
                                                    <input type="text" id="ClientContactName2" formControlName="contactName2" [(ngModel)]="ClientEditForm.contactName2" class="form-control" 
                                                        [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.contactName2.errors }"/>
                                                    <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.contactName2.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveClientEditForm.contactName2.errors.required">Nombre de contacto 2 requerido</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Email 2 -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientEmail2">Email 2</label>
                                                    <input type="text" id="ClientEmail2" formControlName="email2" [(ngModel)]="ClientEditForm.email2" class="form-control" 
                                                        [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.email2.errors }"/>
                                                    <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.email2.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveClientEditForm.email2.errors.required">Email requerido</div>
                                                        <div *ngIf="ReactiveClientEditForm.email2.errors.email">Email tiene que ser una direccion de correo valida</div>
                                                    </div>
                                                </div>           
                                            </div>             
                                            <!-- Telephone 2 -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientPhone2">Telefono 2</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">+54</span>
                                                        </div>
                                                        <input type="text" id="ClientPhone2" formControlName="phone2" [(ngModel)]="ClientEditForm.phone2" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.phone2.errors }" placeholder="" />
                                                        
                                                        <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.phone2.errors" class="invalid-feedback">
                                                            <div *ngIf="ReactiveClientEditForm.phone2.errors.required">Telefono requerido</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Adress -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientAddress">Domicilio</label>
                                                    <input type="text" id="ClientAddress" formControlName="address" [(ngModel)]="ClientEditForm.address" class="form-control" 
                                                        [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.address.errors }"/>
                                                    <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.address.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveClientEditForm.address.errors.required">Domicilio es requerido</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- touchspin default -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientGuests">Cantidad de Invitados</label>
                                                    <br>
                                                    <input type="number" id="ClientGuests" formControlName="guestsQuantity" min="1" [(ngModel)]="ClientEditForm.guestsQuantity" class="form-control" 
                                                        [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.guestsQuantity.errors }"/>
                                                    <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.guestsQuantity.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveClientEditForm.guestsQuantity.errors.required">Seleccione al menos 1 invitado</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Buttons -->
                                            <div class="col-12 d-flex flex-sm-row flex-column mt-2 justify-content-end">
                                                <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                                                Guardar
                                                </button>
                                                <button (click)="redirectToClientList('clients')" class="btn btn-outline-secondary" rippleEffect>
                                                Cancelar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- clients edit account form ends -->
                                </div>
                                <!-- Account Tab ends -->
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
            </div>
        </section>
        <!-- clients edit ends -->
    </div>
</div>