<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- clients edit start -->
        <section class="app-client-edit">
            <div class="card">
                <div class="card-body">
                    <ul ngbNav #nav="ngbNav" class="nav nav-pills">
                        <li ngbNavItem>
                            <ng-template ngbNavContent>
                                <!-- Account Tab starts -->
                                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                    <h4>{{ currentRow.fullName }}</h4>
                                    <br>
                                    <!-- clients edit account form start -->
                                    <form class="edit-client" [formGroup]="ReactiveClientEditDetailsForm" (ngSubmit)="ReactiveClientEditFormOnSubmit()">
                                        <div class="row">
                                            <!-- Fullname -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientFullname">Nombre y Apellido</label>
                                                    <input type="text" id="ClientFullname" [(ngModel)]="ClientEditForm.fullname" formControlName="fullname" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.fullname.errors }" placeholder="Jhon Doe"
                                                    />
                                                    <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.fullname.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveClientEditForm.fullname.errors.required">Nombre y Apellido son requerido</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- DNI -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientDNI">DNI</label>
                                                    <input type="text" id="ClientDNI" [(ngModel)]="ClientEditForm.dni" formControlName="dni" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.dni.errors }" placeholder="00111000" />
                                                    <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.dni.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveClientEditForm.dni.errors.required">DNI es requerido</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Email -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientEmail">Email</label>
                                                    <input type="text" id="ClientEmail" formControlName="email" [(ngModel)]="ClientEditForm.email" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.email.errors }" placeholder="ejemplo@ejemplo.com"
                                                    />
                                                    <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.email.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveClientEditForm.email.errors.required">Email es requerido</div>
                                                        <div *ngIf="ReactiveClientEditForm.email.errors.email">Email tiene que ser una direccion de correo valida</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Telephone -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientTelephone">Telefono</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">+54</span>
                                                        </div>
                                                        <input type="text" id="ClientTelephone" formControlName="telephone" [(ngModel)]="ClientEditForm.telephone" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.telephone.errors }" placeholder="" />
                                                        <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.telephone.errors" class="invalid-feedback">
                                                            <div *ngIf="ReactiveClientEditForm.telephone.errors.required">Telefono es requerido</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Telephone 2 -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientTelephone2">Telefono 2</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">+54</span>
                                                        </div>
                                                        <input type="text" id="ClientTelephone2" formControlName="telephone2" [(ngModel)]="ClientEditForm.telephone2" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.telephone2.errors }" placeholder=""
                                                        />
                                                        <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.telephone2.errors" class="invalid-feedback">
                                                            <div *ngIf="ReactiveClientEditForm.telephone2.errors.required">Telefono es requerido</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Adress -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ClientAdress">Domicilio</label>
                                                    <input type="text" id="ClientAdress" formControlName="address" [(ngModel)]="ClientEditForm.address" class="form-control" [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.adress.errors }" placeholder="Ejemplo 5040" />
                                                    <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.address.errors" class="invalid-feedback">
                                                        <div *ngIf="ReactiveClientEditForm.address.errors.required">Domicilio es requerido</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- touchspin default -->
                                            <div class="form-group">
                                                <label for="ClientGuests">Cantidad de Invitados</label>
                                                <br>
                                                <core-touchspin [minValue]="1" id="ClientGuests" formControlName="guests" bindLabel="name" [(ngModel)]="ClientEditForm.guests" [ngClass]="{ 'is-invalid': ReactiveClientEditFormSubmitted && ReactiveClientEditForm.guests.errors }">
                                                </core-touchspin>
                                                <div *ngIf="ReactiveClientEditFormSubmitted && ReactiveClientEditForm.guests.errors" class="invalid-feedback">
                                                    <div *ngIf="ReactiveClientEditForm.guests.errors.required">Seleccione al menos 1 invitado</div>
                                                </div>
                                            </div>
                                            <!-- Buttons -->
                                            <div class="col-12 d-flex flex-sm-row flex-column mt-2 justify-content-end">
                                                <button type="submit" (click)="saveClient(); redirectToClientList('clients')" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                                                Guardar
                                                </button>
                                                <button (click)="redirectToClientList('clients')" class="btn btn-outline-secondary" rippleEffect>
                                                Cancelar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- clients edit account form ends -->
                                </div>
                                <!-- Account Tab ends -->
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
            </div>
        </section>
        <!-- clients edit ends -->
    </div>
</div>