<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- page clients view start -->
        <section class="app-client-view">
            <!-- client Card & Plan Starts -->
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <!-- client Card starts-->
                            <div class="col-xl-12 col-lg-8 col-md-7">
                                <div class="card client-card">
                                    <div class="card-body">
                                        <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                                            <!-- fullname -->
                                            <div class="d-flex flex-wrap my-50">
                                                <div class="form-group">
                                                    <div class="client-info-title">
                                                        <span class="card-text client-info-title font-weight-bold mb-0">Nombre y Apellido</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{ data.fullName }}</p>
                                                </div>
                                            </div>
                                            <!-- DNI -->
                                            <div class="d-flex flex-wrap my-50">
                                                <div class="form-group">
                                                    <div class="client-info-title">
                                                        <span class="card-text client-info-title font-weight-bold mb-0">DNI</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{ data.dni }}</p>
                                                </div>
                                            </div>
                                            <!-- Email -->
                                            <div class="d-flex flex-wrap my-50">
                                                <div class="form-group">
                                                    <div class="client-info-title">
                                                        <span class="card-text client-info-title font-weight-bold mb-0">Email</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{ data.email }}</p>
                                                </div>
                                            </div>
                                            <!-- Telephone -->
                                            <div class="d-flex flex-wrap">
                                                <div class="form-group">
                                                    <div class="client-info-title">
                                                        <span class="card-text client-info-title font-weight-bold mb-0">Telefono</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{ data.telephone }}</p>
                                                </div>
                                            </div>
                                            <!-- Telephone 2-->
                                            <div class="d-flex flex-wrap">
                                                <div class="form-group">
                                                    <div class="client-info-title">
                                                        <span class="card-text client-info-title font-weight-bold mb-0">Telefono 2</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{ data.telephone }}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-wrap">
                                                <div class="form-group">
                                                    <div class="client-info-title">
                                                        <span class="card-text client-info-title font-weight-bold mb-0">Domicilio</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{ data.adress }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Buttons -->
                                    <div class="col-12 d-flex flex-sm-row flex-column mt-2 justify-content-end">
                                        <a routerLink="client-edit/{{ data.id }}" class="btn btn-primary" rippleEffect>Editar</a>
                                        <button class="btn btn-outline-primary ml-1" (click)="redirectToClientList('clients')" rippleEffect>
                                            Salir
                                           </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /client Card Ends-->