.card-body-styles{
    border-radius: 10px;
    background: linear-gradient(138.67deg, #DCA52A 0%, rgba(220, 165, 42, 0) 138.4%);
    display: inline-block;
}

.card-titles{
    border-radius: 10px;
    text-align: center !important;
    font-weight: 600 !important;
    font-size: 1.9rem !important;
    background: #FFFFFF;
    padding: 1rem;
    margin: 0rem !important;
}

.card-styles{
    border-radius: 10px;
    background: linear-gradient(138.67deg, #DCA52A 0%, rgba(220, 165, 42, 0) 138.4%);
}