<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- page users view start -->
        <section class="app-user-view">
            <!-- user Card & Plan Starts -->
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <!-- user Card starts-->
                            <div class="col-xl-12 col-lg-8 col-md-7">
                                <div class="card user-card">
                                    <div class="card-body">
                                        <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                                            <!-- Username -->
                                            <div class="d-flex flex-wrap my-50">
                                                <div class="form-group">
                                                    <div class="user-info-title">
                                                        <span class="card-text user-info-title font-weight-bold mb-0">Nombre de Usuario</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{ data.username }}</p>
                                                </div>
                                            </div>
                                            <!-- User Type -->
                                            <div class="d-flex flex-wrap my-50">
                                                <div class="form-group">
                                                    <div class="user-info-title">
                                                        <span class="card-text user-info-title font-weight-bold mb-0">Tipo de Usuario</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{ data.userType }}</p>
                                                </div>
                                            </div>
                                            <!-- Name -->
                                            <div class="d-flex flex-wrap my-50">
                                                <div class="form-group">
                                                    <div class="user-info-title">
                                                        <span class="card-text user-info-title font-weight-bold mb-0">Contraseña</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{ data.password }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Buttons -->
                                    <div class="col-12 d-flex flex-sm-row flex-column mt-2 justify-content-end">
                                        <button class="btn btn-primary ml-1" routerLink="user-edit/{{ data.id }}" rippleEffect>Editar</button>
                                        <button class="btn btn-outline-primary ml-1" (click)="redirectToUserList('users')" rippleEffect>
                                         Salir
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /user Card Ends-->