<div class="slideout-content">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <form class="add-new-user modal-content pt-0" [formGroup]="ReactiveUserDetailsForm" (ngSubmit)="ReactiveUDFormOnSubmit()">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleSidebar('new-user-sidebar')">
          ×
        </button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Usuario</h5>
                </div>
                <div class="modal-body flex-grow-1">

                    <div class="form-group">
                        <label for="UDUsername">Nombre de Usuario</label>
                        <input type="text" id="UDUsername" [(ngModel)]="UDForm.username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.username.errors }" placeholder="username" />
                        <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.username.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.username.errors.required">Nombre de Usuario es requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="UDPassword">Constraseña</label>
                        <div class="input-group input-group-merge form-password-toggle mb-2">
                            <input [type]="mergedPwdShow ? 'text' : 'password'" id="UDPassword" formControlName="password" [(ngModel)]="UDForm.password" class="form-control" [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.password.errors }" />
                            <div class="input-group-append" (click)="mergedPwdShow = !mergedPwdShow">
                                <span class="input-group-text cursor-pointer"><i
                                class="feather"
                                [ngClass]="{
                                  'icon-eye-off': mergedPwdShow,
                                  'icon-eye': !mergedPwdShow
                                }"
                              ></i
                            ></span>
                            </div>

                            <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.password.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveUDForm.password.errors.required">Contraseña es requerida</div>
                                <div *ngIf="ReactiveUDForm.password.errors.minlength">La contraseña debe tener un mínimo de 4 caracteres
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="UDConfPassword">Confirmar Contraseña</label>
                        <div class="input-group input-group-merge form-password-toggle mb-2">
                            <input [type]="mergedPwdShow ? 'text' : 'password'" id="UDConfPassword" formControlName="confPassword" [(ngModel)]="UDForm.confPassword" class="form-control" [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.confPassword.errors }" />
                            <div class="input-group-append" (click)="mergedPwdShow = !mergedPwdShow">
                                <span class="input-group-text cursor-pointer"><i
                            class="feather"
                            [ngClass]="{
                              'icon-eye-off': mergedPwdShow,
                              'icon-eye': !mergedPwdShow
                            }"
                          ></i
                        ></span>

                            </div>
                            <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.confPassword.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveUDForm.confPassword.errors.required">Confirmar Contraseña es requerido</div>
                                <div *ngIf="ReactiveUDForm.confPassword.errors.minlength">Confirmar Conretraseña debe tener un mínimo de 4 caracteres
                                </div>
                                <div *ngIf="ReactiveUDForm.confPassword.errors.mustMatch">Las contraseñas deben coincidir</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                    </div>

                    <div class="form-group">
                        <label for="UDFullname">Nombre y Apellido</label>
                        <input type="text" id="UDFullname" [(ngModel)]="UDForm.fullname" formControlName="fullname" class="form-control" [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.fullname.errors }" placeholder="Nombre" />
                        <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.fullname.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.fullname.errors.required">Nombre y Apellido es requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="UDDNI">DNI</label>
                        <input type="text" id="UDDNI" [(ngModel)]="UDForm.dni" formControlName="dni" class="form-control" [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.dni.errors }" placeholder="00111000" />
                        <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.dni.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.dni.errors.required">DNI es requerido</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="UDCUIT">CUIT</label>
                        <input type="text" id="UDCUIT" formControlName="cuit" [(ngModel)]="UDForm.cuit" class="form-control" [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.cuit.errors }" placeholder="12 00123234 1" mask="00 00000000 0" />
                        <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.cuit.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.cuit.errors.required">CUIT es requerido</div>
                            <div *ngIf="ReactiveUDForm.password.errors.minlength">El CUIT debe tener un mínimo de 4 caracteres
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="UDEmail">Email</label>
                        <input type="text" id="UDEmail" formControlName="email" [(ngModel)]="UDForm.email" class="form-control" [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.email.errors }" placeholder="ejemplo@ejemplo.com" />
                        <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.email.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.email.errors.required">Email es requerido</div>
                            <div *ngIf="ReactiveUDForm.email.errors.email">Email tiene que ser una direccion de correo valida</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="UDTelephone">Telefono</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">+54</span>
                            </div>
                            <input type="text" id="UDTelephone" formControlName="telephone" [(ngModel)]="UDForm.telephone" class="form-control" [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.telephone.errors }" placeholder="" />

                            <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.telephone.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveUDForm.telephone.errors.required">Telefono es requerido</div>
                            </div>
                        </div>
                    </div>

                    <!-- UserType field -->
                    <div class="form-group">
                        <label for="UDUserType">Tipo de Usuario</label>
                        <select id="UDUserType" formControlName="userType" [(ngModel)]="UDForm.userType" class="form-control" [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.userType.errors }">
              <option value="administrador">Administrador</option>
              <option value="operador">Operador</option>
              <option value="cliente">Cliente</option>
            </select>
                        <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.userType.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.userType.errors.required">Tipo de Usuario es requerido</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-1" rippleEffect>Añadir</button>
                    <button class="btn btn-outline-secondary" (click)="toggleSidebar('new-user-sidebar')" rippleEffect>
            Cancelar
          </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal to add new user Ends-->
</div>