<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- page myDatas view start -->
        <section class="app-myData">
            <!-- myData Card & Plan Starts -->
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <!-- myData Card starts-->
                            <div class="col-xl-12 col-lg-8 col-md-7">
                                <div class="card myData-card">
                                    <div class="card-body">
                                        <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                                            <!-- myDataname -->
                                            <div class="d-flex flex-wrap my-50">
                                                <div class="form-group">
                                                    <div class="myData-info-title">
                                                        <span class="card-text myData-info-title font-weight-bold mb-0">Nombre de Usuario</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{ data.myDataname }}</p>
                                                </div>
                                            </div>
                                            <!-- Name -->
                                            <div class="d-flex flex-wrap my-50">
                                                <div class="form-group">
                                                    <div class="myData-info-title">
                                                        <span class="card-text myData-info-title font-weight-bold mb-0">Nombre y Apellido</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{ data.fullname }}</p>
                                                </div>
                                            </div>
                                            <!-- DNI -->
                                            <div class="d-flex flex-wrap">
                                                <div class="form-group">
                                                    <div class="myData-info-title">
                                                        <span class="card-text myData-info-title font-weight-bold mb-0">DNI</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{ data.dni }}</p>
                                                </div>
                                            </div>
                                            <!-- Email -->
                                            <div class="d-flex flex-wrap my-50">
                                                <div class="form-group">
                                                    <div class="myData-info-title">
                                                        <span class="card-text myData-info-title font-weight-bold mb-0">Email</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{ data.email }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /myData Card Ends-->